<%- include('../partials/header') %>

<form action="/flights/:id/tickets" method="POST">
  <label>Price: </label>
  <input type="text" name="price">
  <label>Seate: </label>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <input type="submit" value="Add Ticket">

</form>

<%- include('../partials/footer') %>